.container {
  position: relative;
  padding: 0;
  left: 50%;
  margin-left: -150px;
  top: 50px;
  display:flex;
  flex-wrap: wrap;
  height: 305px;
  width: 305px;
  background-image: url('../assets/xo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cube {
  padding-top: 10px;
  margin: 0;
  box-sizing: border-box;
  width: 100px;
  text-align: center;
  height: 100px;
}

.cube p {
  color: white;
  font-size: 50px;
}

.buts {
  position: relative;
  width: 400px;
  left: 50%;
  margin-left: -150px;
  top: 30px
}

.buts button {
  margin-left: 20px;
  background-color: #555555;
  width: 150px;
 border: none;
 color: white;
 padding: 15px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
 margin: 4px 2px;
 cursor: pointer;
}

button {
  margin-left: 20px;
  background-color: #555555;
  width: 150px;
 border: none;
 color: white;
 padding: 15px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
 margin: 4px 2px;
 cursor: pointer;
}
