<!--The content below is only a placeholder and can be replaced.-->
<div class="buts" *ngIf="butt">
  <button (click)="playerStart()" class="btn-success">Player Start</button>
  <button (click)="cpuStart()">CPU Start</button>
</div>
<div class="container" *ngIf="start">
  <div class="cube"  *ngFor="let field of fields; let i=index" (click)="fillField(i)">
    <p>{{ field.val }}</p>
  </div>
  <p [ngStyle]="{color: win ? 'blue' : 'red'}" style="font-size: 50px">{{winner}}</p>
  <button (click)="rematch()" style="margin-top: 20px">REMATCH</button>
</div>
